*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    border: none;
    display: inline-block;
}
/*菜单栏样式*/
#menu{
    width: 100%;
    height: 110px;
    padding-top: 3px;
    /*margin-top: 5px;*/
    /*background-color: #dee8f5;*/
    /*border-bottom: 1px ridge #CCCCCC;   !*win7中3D外观如何实现？*!*/
    background: linear-gradient(to bottom, rgba(222, 232, 245, 0.3), rgba(222, 232, 245, 1) 20%, rgba(222, 232, 245, 1) 97%, rgb(177, 187, 203) 100%); /* 标准的语法 */;
}

/*剪切板,第一栏样式*/
#cutBox{
    width: 102px;
}

.cut-box-wrap{
    width: 102px;
    /*text-align: center;*/
    font-size: 0;
    /*vertical-align: top;*/
}

.left-box-2parts{
    height: 82px;
    border-radius: 3px;
}
.right-box-parts{
    vertical-align: top;
    height: 82px;
}

/*字体类型，包括正文（如剪切、粘贴、复制）跟title（如剪切板）*/
.fontType{
    font-family: '华文宋体','宋体', sans-serif;
    font-size: 13px;
    color: #272664;
    /*text-align: center;*/
}
/*.parse, .cut, .copy{*/
    /*display: inline-block;*/
    /*line-height: 20px;*/
/*}*/

.span-inline-block{
    display: inline-block;
    line-height: 20px;
}

/*如剪贴板、图像等*/
.title{
    color: rgba(99, 100, 111, 0.74);
    text-align: center;
    width: 100%;
    padding-top: 5px;

}

/*设置图标与左外边界间距*/
.cut-box-wrap-inside{
    margin-left: 5px;
}

.img-wrap, .word-wrap{
    position: relative;
    width: 41px;
    height: 41px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.img-wrap{
    display: flex;
}

.word-wrap{
    text-align: center;
}

.img-wrap-img{
    margin: auto;   /*flex居中显示*/
}

/*.cut, .copy{*/
/*border: 1px solid transparent;*/
/*}*/

/*#cutBox-up-right .cut{*/
    /*background-position: 0 0;*/
/*}*/
/*#cutBox-up-right .copy{*/
    /*background-position: 0 -21px;*/
/*}*/
.img-down-word{
    position: relative;
}
.img-down-word:after{
    position: absolute;
    top: 110%;
    left: 50%;
    content: "";
    border-top: 3px solid black;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: translate(-50% ,0);
}

/*定义每个主题之间的分隔线*/
.borderDef{
    height: 90px;
    width: 0;
    margin-top: 6px;
    border-left: 1px inset rgba(226, 236, 249, 0.6);  /*#dee8f5*/
}

/*hover效果*/
.left-box-2parts:hover{
    background: linear-gradient(to bottom, rgba(255, 247, 196, 0.5), rgba(255, 201, 104, 0.7) 50%, rgba(255, 247, 196, 0.5) 100%);
}

.left-box-2parts:hover .img-wrap{
    border: 1px solid #f0bd63;
}

.left-box-2parts:hover .word-wrap{
    border: 1px solid #f0bd63;
}
/*粘贴图标hover效果*/
.left-box-2parts .img-wrap:hover{
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 65%, rgb(255, 208, 109) 65%, rgba(255, 208, 109,1) 100%);
    /*background: ;*/
}

/*粘贴字符的hover效果*/
.left-box-2parts .word-wrap:hover{
    background: linear-gradient(to bottom, rgba(255, 208, 109, 1), rgba(255, 201, 104, 0));
}

.right-box-parts-list:hover{
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 40%, rgb(255, 208, 109) 40%, rgb(255, 247, 196) 100%);
    border-radius: 3px;
    border: 1px solid #f0bd63;
}

.right-box-parts-list{
    border: 1px solid transparent;
}

/*cut效果*/
.right-box-parts-list img, span{
    vertical-align: middle;
}

.right-box-parts-list img{
    padding-right: 3px;
    margin-left: 3px;
}

/*下拉菜单*/
.drop{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    /*height: 56px;*/
    width: 123px;
    border: 1px solid #c8d1de;
    /*z-index: -1;*/
    /*background-color: #FFFFFF;*/
    box-shadow: 4px 4px 2PX rgba(59, 59, 59, 0.5);
    /*vertical-align: middle;*/
    text-align: left;
    padding: 1px;
    background: linear-gradient(to right, #f3f7fb, #f3f7fb 25%, rgb(170, 179, 195) 25%, rgb(170, 179, 195) 26%, #FFFFFF 26%,#FFFFFF 100%);
}

/*箭头下拉样式*/
.word-wrap:hover .drop{
    display: block;
}

.drop-parse img,span{
    vertical-align: middle;
}
.drop-source img,span{
    vertical-align: middle;
}

.drop-source,.drop-parse{
    width: 100%;
    border: 1px solid transparent;
}

.drop-source:hover,.drop-parse:hover{
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 40%, rgb(255, 208, 109) 40%, rgb(255, 247, 196) 100%);
    border-radius: 3px;
    border: 1px solid #f0bd63;
}

.drop img{
    /*height: 27px;*/
    /*width: 37px;*/
    padding: 6px 14px 6px 7px;
}


.drop .underline{
    text-decoration: underline;
    padding: 0 0 0 1px;
    /*padding: 6px 7px 6px 7px;*/
    font-family: Calibri, sans-serif;
    font-size: 16px;
    /*vertical-align: text-top;*/
}



