*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    border: none;
    display: inline-block;
}
/*菜单栏样式*/
#menu{
    width: 100%;
    height: 110px;
    padding: 3px 0 0 5px;
    /*margin-top: 5px;*/
    /*background-color: #dee8f5;*/
    /*border-bottom: 1px ridge #CCCCCC;   !*win7中3D外观如何实现？*!*/
    background: linear-gradient(to bottom, rgba(222, 232, 245, 0.2), rgba(222, 232, 245, 0.8) 20%, rgba(222, 232, 245, 0.8) 97%, rgb(177, 187, 203) 100%); /* 标准的语法 */;
}

/*剪切板,第一栏样式*/
#cutBox{
    width: 102px;
}

.cut-box-wrap{
    /*width: 102px;*/
    /*text-align: center;*/
    font-size: 0;
    /*vertical-align: top;*/
    /*transition: background 5s;*/
    /*-webkit-transition:background 5s;*/
}

/*每一个板块的hover效果*/
.cut-box-wrap:hover{
    background: rgba(222, 232, 245, 0.8);
}

#menu:hover{

}


.left-box-2parts{
    height: 82px;
    border-radius: 3px;
}
.right-box-parts{
    vertical-align: top;
    height: 82px;
}

/*字体类型，包括正文（如剪切、粘贴、复制）跟title（如剪切板）*/
.fontType{
    font-family: '华文宋体','宋体', sans-serif;
    font-size: 13px;
    color: #395f98;
    /*text-align: center;*/
}
/*.parse, .cut, .copy{*/
    /*display: inline-block;*/
    /*line-height: 20px;*/
/*}*/

.span-inline-block{
    display: inline-block;
    line-height: 20px;
}

/*如剪贴板、图像等*/
.title{
    color: rgba(99, 100, 111, 0.74);
    text-align: center;
    width: 100%;
    height: 21px;
    line-height: 21px;
    /*padding-top: 5px;*/
    vertical-align: bottom;

}

/*设置图标与左外边界间距*/
.cut-box-wrap-inside{
    /*margin-left: 5px;*/
    height: 82px;
}

.img-wrap, .word-wrap{
    position: relative;
    width: 41px;
    height: 41px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.img-wrap{
    display: flex;
}

.word-wrap{
    text-align: center;
}

.img-wrap-img{
    margin: auto;   /*flex居中显示*/
}

/*.cut, .copy{*/
/*border: 1px solid transparent;*/
/*}*/

/*#cutBox-up-right .cut{*/
    /*background-position: 0 0;*/
/*}*/
/*#cutBox-up-right .copy{*/
    /*background-position: 0 -21px;*/
/*}*/
.img-down-word{
    position: relative;
}
.img-down-word:after{
    position: absolute;
    top: 110%;
    left: 50%;
    content: "";
    border-top: 3px solid black;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: translate(-50% ,0);
}

/*定义每个主题之间的分隔线*/
.borderDef{
    height: 93px;
    width: 0;
    /*margin-top: 6px;*/
    border-left: 1px inset rgba(226, 236, 249, 0.6);  /*#dee8f5*/
    margin-bottom: 5px;
}

/*hover效果*/
.left-box-2parts:hover{
    background: linear-gradient(to bottom, rgba(255, 247, 196, 0.5), rgba(255, 201, 104, 0.7) 50%, rgba(255, 247, 196, 0.5) 100%);
}

.left-box-2parts:hover .img-wrap{
    border: 1px solid #f0bd63;
}

.left-box-2parts:hover .word-wrap{
    border: 1px solid #f0bd63;
}
/*粘贴图标hover效果*/
.left-box-2parts .img-wrap:hover{
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 65%, rgb(255, 208, 109) 65%, rgba(255, 208, 109,1) 100%);
    /*background: ;*/
}

/*粘贴字符的hover效果*/
.left-box-2parts .word-wrap:hover{
    background: linear-gradient(to bottom, rgba(255, 208, 109, 1), rgba(255, 201, 104, 0));
}

.right-box-parts-list:hover{
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 40%, rgb(255, 208, 109) 40%, rgb(255, 247, 196) 100%);
    border-radius: 3px;
    border: 1px solid #f0bd63;
}

.right-box-parts-list{
    /*position: relative;*/
    border: 1px solid transparent;
}

/*cut效果*/
.right-box-parts-list img, span{
    vertical-align: middle;
}

.right-box-parts-list img{
    padding-right: 3px;
    margin-left: 3px;
}

/*下拉菜单*/
.drop{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    /*height: 56px;*/

    border: 1px solid #c8d1de;
    /*z-index: -1;*/
    /*background-color: #FFFFFF;*/
    box-shadow: 4px 4px 2PX rgba(59, 59, 59, 0.5);
    /*vertical-align: middle;*/
    text-align: left;
    padding: 1px;
    background-color: #FFFFFF;
    z-index: 2;

}

#cutBox .drop{
    width: 123px;
}

#imgBox  .left-box-2parts .drop{
    width: 145px;
}

#imgBox  .right-box-parts .drop{
    width: 156px;
}

.drop-wrap{
    background: linear-gradient(to right, #f3f7fb, #f3f7fb 28px, rgb(170, 179, 195) 28px, rgb(170, 179, 195) 29px, #FFFFFF 29px,#FFFFFF 100%);
}



/*箭头下拉样式*/
.word-wrap:hover .drop{
    display: block;
}

.drop-list img,span{
    vertical-align: middle;
}


.drop-list{
    width: 100%;
    border: 1px solid transparent;
}

.drop-list:hover{
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 40%, rgb(255, 208, 109) 40%, rgb(255, 247, 196) 100%);
    border-radius: 3px;
    border: 1px solid #f0bd63;
}

.drop-list img{
    /*height: 27px;*/
    /*width: 37px;*/
    padding: 6px 14px 6px 7px;
    margin: 0;
}


.drop .underline{
    text-decoration: underline;
    padding: 0 0 0 1px;
    /*padding: 6px 7px 6px 7px;*/
    font-family: Calibri, sans-serif;
    font-size: 16px;
    /*vertical-align: text-top;*/
}


/*第二栏，图像*/
#imgBox{
    width: 147px;
}

.selectBox{
    width: 30px;
    height: 26px;
    border: 1px dotted #272664;
    margin: auto;
    border-radius: 1px;
}

/*选择下拉*/
.drop-title{
    /*display: block;*/
    width: 100%;
    text-align: left;
    padding-left: 5px;
    background-color: #ebf2f7;
    opacity: 1;
    font-weight: bold;
    border-bottom: 1px inset rgba(226, 236, 249, 0.6);
}

.recselect{
    width: 16px;
    height: 16px;
    border: 1px dotted #272664;
    margin: 6px 14px 6px 7px;
    vertical-align: middle;
}

/*t透明选择*/
.recopicity{
    width: 16px;
    height: 16px;
    border: 1px dotted transparent;
    margin: 6px 14px 6px 7px;
    vertical-align: middle;
}

/*旋转后下拉菜单*/
.rotate{
    position: relative;
    /*width: 120%;*/
    padding-right: 20px;
}

.rotate:after{
    position: absolute;
    top: 50%;
    left: 55px;
    content: "";
    border-top: 3px solid black;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: translate(-50% ,0);
}

.rotate:hover .drop{
    display: block;
}

/*工具栏*/
#tool{
    /*width: 81px;*/
}

.tool-wrap{
    /*border: 1px solid rgba(190, 198, 210, 0.6);*/
    /*border-radius: 1px;*/
    display: flex;    /*为什么要设置成flex？？？？*/
    flex-flow: column nowrap;
    width: 66px;
    margin: 0;
    vertical-align: top;
}

.tool-wrap-first{
    display: flex;
    padding-top: 10px;
}

.tool-wrap-img{
    width: 22px;
    height: 22px;
    display: flex;
    border: 1px solid rgb(186, 195, 207);
    border-radius: 1px;
    background: linear-gradient(to bottom, rgb(248, 248, 248), rgb(222, 232, 245) 50%, rgb(248, 248, 248) 100%);
    margin: 0;
}


/*.middle{*/
    /*width: 24px;*/
    /*height: 22px;*/
    /*display: flex;*/
    /*border-left: 1px ridge rgba(226, 236, 249, 0.6);*/
    /*border-right: 1px groove rgba(226, 236, 249, 0.6);*/
    /*border-radius: 1px;*/
/*}*/
#tool{

}

.tool-wrap-img img{
    margin: auto;
}

.tool-wrap-img:hover{
    border-radius: 1px;
    border: 1px solid #f0bd63;
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 40%, rgb(255, 208, 109) 40%, rgb(255, 247, 196) 100%);
}

/*刷子栏*/
#brush .drop{
    width: 172px;
}

.brush-drop-wrap-img{
    border-bottom: 1px solid #e5edf7;
    margin-bottom: 2px;
}

.brush-drop-wrap-img img{
    width: 42px;
    height: 42px;
    padding: 4px;
    border: 1px solid transparent;
}

.brush-drop-wrap-img img:hover{
    border-radius: 1px;
    border: 1px solid #f0bd63;
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 40%, rgb(255, 208, 109) 40%, rgb(255, 247, 196) 100%);
}
