*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 0;   /*使用内联进行布局，将字号设置为0，避免产生不必要间距*/
}
body{
    min-width: 904px;
}

div{
    border: none;
    display: inline-block;
}
/*主页、查看菜单栏样式*/
#top-menu{
    height: 29px;
    width: 100%;
    border-bottom: 1px solid #c5ccd9;
    background-color: #dfe9f5;
    padding-top: 1px;
    z-index: 0;
}
.top-menu-drop{
    position: relative;
    height: 23px;

}

.top-menu-drop-wrap{
    position: absolute;
    top: 1px;
    left: 1px;
    text-align: center;
    width: 58px;
    height: 23px;
    border-top-right-radius: 5px;
    border: 1px solid #3056FF;
    background: linear-gradient(to bottom, rgba(49, 116, 255, 0.3), rgba(49, 116, 255, 0.9) 50%, rgb(48, 86, 255) 50%, rgba(49, 116, 255, 0.3) 100%); /* 标准的语法 */;
    z-index: 12;
}

.top-menu-drop img{
    vertical-align: top;
    margin: 5px 2px 5px 2px;
}

.top-menu-drop-arrow{
    margin: 8px 2px;
    border-top: 5px solid #dfe9f5;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    vertical-align: top;
}

.top-menu-drop-down{
    width: 517px;
    /*height: 537px;*/

    position: absolute;
    top: 0;
    left: 0;
    display: none;
    /*height: 56px;*/

    border: 1px solid #c8d1de;
    /*z-index: -1;*/
    /*background-color: #FFFFFF;*/
    box-shadow: 4px 4px 2px rgba(59, 59, 59, 0.5);
    /*vertical-align: middle;*/
    text-align: left;
    /*padding: 1px;*/
    background-color: #FFFFFF;
    z-index: 10;
    font-size: 0;
}

.top-menu-drop:hover .top-menu-drop-down{
    display: block;
}

.top-menu-drop:hover .top-menu-drop-wrap{
    height: 25px;
    border-radius: 0;
    background: linear-gradient(to bottom, rgba(49, 116, 255, 0.1), rgba(49, 116, 255, 0.9) 50%, rgb(48, 86, 255) 50%, rgba(49, 116, 255, 0.1) 100%);
}

.top-menu-drop-down-top{
    width: 100%;
    height: 25px;
    /*border: 1px solid #a4adb6;*/
    /*border: 1px solid rgb(186, 195, 207);*/
    background: linear-gradient(to bottom, rgb(239, 247, 254), rgb(239, 247, 254) 50%, rgba(220, 231, 245, 0.8) 50%, rgba(220, 231, 245, 0.8) 100%);
    margin: 0;
}

.top-menu-drop-down-left{
    float: left;
    width: 186px;
    height: 497px;
    border-top: 1px solid #a4adb6;
    border-right: 2px groove #dbe6ef;
    border-bottom: 1px solid #a4adb6;
    background-color: #fcfcfc;
    display: flex;
    flex-flow: column nowrap;
}

.top-drop--left-list{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 45px;
    border: 1px solid transparent;
}

.top-drop--left-list:hover{
    border: 1px solid #f0bd63;
    background: linear-gradient(to bottom, rgba(255, 208, 109, 1), rgba(255, 201, 104, 0));
}

.top-drop--left-list img {

}

.drop-img-wrap{
    width: 40px;
    margin: 0 5px;
    text-align: center;
}

.top-menu-drop-down-right{
    float: left;
    width: 329px;
    height: 497px;
    border-top: 1px solid #a4adb6;
    border-bottom: 1px solid #a4adb6;
    background-color: #eff5fa;
    display: flex;
    flex-flow: column nowrap;
}

.top-menu-drop-down-bottom{
    clear: both;
    width: 100%;
    height: 18px;
    /*border: 1px solid #a4adb6;*/
    background: linear-gradient(to bottom, rgb(239, 247, 254), rgba(220, 231, 245, 0.8) 50%, rgba(220, 231, 245, 0.8) 100%);
    margin: 0;
}
.top-menu-recent-title{
    /*vertical-align: bottom;*/
    height: 27px;
    width: 100%;
    border-bottom: 2px groove #dbe6ef;
    margin-bottom: 8px;
    /*margin-top: 3px;*/
}

.top-menu-recent-title span{
    line-height: 25px;
    padding-left: 8px;
}

.top-menu-drop-down-right .span-inline-block{
    padding-left: 8px;
    border: 1px solid transparent;
}

.top-menu-drop-down-right .span-inline-block:hover{
    border: 1px solid #f0bd63;
    background: linear-gradient(to bottom, rgba(255, 208, 109, 1), rgba(255, 201, 104, 0));
}
/*菜单栏样式*/
#menu{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 110px;
    padding: 3px 0 0 5px;
    /*margin-top: 5px;*/
    /*background-color: #dee8f5;*/
    /*border-bottom: 1px ridge #CCCCCC;   !*win7中3D外观如何实现？*!*/
    background: linear-gradient(to bottom, rgba(222, 232, 245, 0.2), rgba(222, 232, 245, 0.8) 20%, rgba(222, 232, 245, 0.8) 97%, rgb(177, 187, 203) 100%); /* 标准的语法 */;
}

/*剪切板,第一栏样式*/
#cutBox{
    width: 92px;
    min-width: 92px;
}

.cut-box-wrap{
    /*width: 102px;*/
    /*text-align: center;*/
    font-size: 0;
    /*vertical-align: top;*/
    /*transition: background 5s;*/
    /*-webkit-transition:background 5s;*/
}

/*每一个板块的hover效果*/
.cut-box-wrap:hover{
    background: rgba(222, 232, 245, 0.8);
}

#menu:hover{

}


.left-box-2parts{
    height: 82px;
    border-radius: 3px;
}
.right-box-parts{
    vertical-align: top;
    height: 82px;
}

/*字体类型，包括正文（如剪切、粘贴、复制）跟title（如剪切板）*/
.fontType{
    font-family: '华文宋体','宋体', sans-serif;
    font-size: 13px;
    color: #395f98;
    /*line-height: 100%;*/
    /*text-align: center;*/
}
/*.parse, .cut, .copy{*/
    /*display: inline-block;*/
    /*line-height: 20px;*/
/*}*/

.span-inline-block{
    display: inline-block;
    line-height: 20px;
}

/*如剪贴板、图像等*/
.title{
    color: rgba(99, 100, 111, 0.74);
    text-align: center;
    width: 100%;
    height: 21px;
    line-height: 21px;
    /*padding-top: 5px;*/
    vertical-align: bottom;

}

/*设置图标与左外边界间距*/
.cut-box-wrap-inside{
    /*margin-left: 5px;*/
    height: 82px;
}

.img-wrap, .word-wrap{
    position: relative;
    width: 41px;
    height: 41px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.img-wrap{
    display: flex;
}

.word-wrap{
    text-align: center;
}

.img-wrap-img{
    margin: auto;   /*flex居中显示*/
}

/*.cut, .copy{*/
/*border: 1px solid transparent;*/
/*}*/

/*#cutBox-up-right .cut{*/
    /*background-position: 0 0;*/
/*}*/
/*#cutBox-up-right .copy{*/
    /*background-position: 0 -21px;*/
/*}*/
.img-down-word{
    position: relative;
}
.img-down-word:after{
    position: absolute;
    top: 110%;
    left: 50%;
    content: "";
    border-top: 3px solid black;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: translate(-50% ,0);
}

/*定义每个主题之间的分隔线*/
.borderDef{
    height: 93px;
    width: 0;
    /*margin-top: 6px;*/
    border-left: 1px inset rgba(226, 236, 249, 0.6);  /*#dee8f5*/
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/*hover效果*/
.left-box-2parts:hover{
    /*border: 1px solid #f0bd63;*/
    background: linear-gradient(to bottom, rgba(255, 247, 196, 0.5), rgba(255, 201, 104, 0.7) 50%, rgba(255, 247, 196, 0.5) 100%);
}

.left-box-2parts:hover .img-wrap{
    border: 1px solid #f0bd63;
}

.left-box-2parts:hover .word-wrap{
    border: 1px solid #f0bd63;
}
/*粘贴图标hover效果*/
.left-box-2parts .img-wrap:hover{
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 65%, rgb(255, 208, 109) 65%, rgba(255, 208, 109,1) 100%);
    /*background: ;*/
}

/*粘贴字符的hover效果*/
.left-box-2parts .word-wrap:hover{
    border: 1px solid #f0bd63;
    background: linear-gradient(to bottom, rgba(255, 208, 109, 1), rgba(255, 201, 104, 0));
}

.right-box-parts-list:hover{
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 40%, rgb(255, 208, 109) 40%, rgb(255, 247, 196) 100%);
    border-radius: 3px;
    border: 1px solid #f0bd63;
}

.right-box-parts-list{
    /*position: relative;*/
    border: 1px solid transparent;
}

/*cut效果*/
.right-box-parts-list img, span{
    vertical-align: middle;
}

.right-box-parts-list img{
    /*padding-right: 3px;*/
    margin-left: 3px;
}

/*下拉菜单*/
.drop{
    position: absolute;
    top: 100%;
    left: -1px;
    display: none;
    /*height: 56px;*/

    border: 1px solid #c8d1de;
    /*z-index: -1;*/
    /*background-color: #FFFFFF;*/
    box-shadow: 4px 4px 2px rgba(59, 59, 59, 0.5);
    /*vertical-align: middle;*/
    text-align: left;
    padding: 1px;
    background-color: #FFFFFF;
    z-index: 2;

}

#cutBox .drop{
    width: 123px;
}

#imgBox  .left-box-2parts .drop{
    width: 145px;
}

#imgBox  .right-box-parts .drop{
    width: 156px;
}

.drop-wrap{
    background: linear-gradient(to right, #f3f7fb, #f3f7fb 28px, rgb(170, 179, 195) 28px, rgb(170, 179, 195) 29px, #FFFFFF 29px,#FFFFFF 100%);
}



/*箭头下拉样式*/
.word-wrap:hover .drop{
    display: block;
}

.drop-list img,span{
    vertical-align: middle;
}


.drop-list{
    width: 100%;
    border: 1px solid transparent;
}

.drop-list:hover{
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 40%, rgb(255, 208, 109) 40%, rgb(255, 247, 196) 100%);
    border-radius: 3px;
    border: 1px solid #f0bd63;
}

.drop-list img{
    /*height: 27px;*/
    /*width: 37px;*/
    margin: 6px 14px 6px 7px;
    /*margin: 0;*/
}

/*.drop .underline*/
.underline{
    text-decoration: underline;
    padding: 0 0 0 1px;
    /*padding: 6px 7px 6px 7px;*/
    font-family: Calibri, sans-serif;
    font-size: 16px;
    /*vertical-align: text-top;*/
}


/*第二栏，图像*/
#imgBox{
    width: 147px;
    min-width: 147px;
}

.selectBox{
    width: 30px;
    height: 26px;
    border: 1px dotted #272664;
    margin: auto;
    border-radius: 1px;
}

/*选择下拉*/
.drop-title{
    /*display: block;*/
    width: 100%;
    text-align: left;
    padding-left: 5px;
    background-color: #ebf2f7;
    opacity: 1;
    font-weight: bold;
    border-bottom: 1px inset rgba(226, 236, 249, 0.6);
}

.recselect{
    width: 16px;
    height: 16px;
    border: 1px dotted #272664;
    margin: 6px 14px 6px 7px;
    vertical-align: middle;
}

/*t透明选择*/
.recopicity{
    width: 16px;
    height: 16px;
    border: 1px dotted transparent;
    margin: 6px 14px 6px 7px;
    vertical-align: middle;
}

/*旋转后下拉菜单*/
.rotate{
    position: relative;
    /*width: 120%;*/
    padding-right: 20px;
}

.rotate:after{
    position: absolute;
    top: 50%;
    left: 55px;
    content: "";
    border-top: 3px solid black;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: translate(-50% ,0);
}

.rotate:hover .drop{
    display: block;
}

/*工具栏*/
#tool{
    /*width: 81px;*/
}

.tool-wrap{
    /*border: 1px solid rgba(190, 198, 210, 0.6);*/
    /*border-radius: 1px;*/
    display: flex;    /*为什么要设置成flex？？？？*/
    flex-flow: column nowrap;
    width: 66px;
    margin: 0;
    vertical-align: top;
}

.tool-wrap-first{
    display: flex;
    padding-top: 10px;
}

.tool-wrap-img{
    width: 22px;
    height: 22px;
    display: flex;
    border: 1px solid rgb(186, 195, 207);
    border-radius: 1px;
    background: linear-gradient(to bottom, rgb(248, 248, 248), rgb(222, 232, 245) 50%, rgb(248, 248, 248) 100%);
    margin: 0;
}


/*.middle{*/
    /*width: 24px;*/
    /*height: 22px;*/
    /*display: flex;*/
    /*border-left: 1px ridge rgba(226, 236, 249, 0.6);*/
    /*border-right: 1px groove rgba(226, 236, 249, 0.6);*/
    /*border-radius: 1px;*/
/*}*/
#tool{

}

.tool-wrap-img img{
    margin: auto;
}

.tool-wrap-img:hover{
    border-radius: 1px;
    border: 1px solid #f0bd63;
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 40%, rgb(255, 208, 109) 40%, rgb(255, 247, 196) 100%);
}

/*刷子栏*/
#brush .drop{
    width: 172px;
}

.brush-drop-wrap-img{
    border-bottom: 1px solid #e5edf7;
    margin-bottom: 2px;
}

.brush-drop-wrap-img img{
    width: 42px;
    height: 42px;
    padding: 4px;
    border: 1px solid transparent;
}

.brush-drop-wrap-img img:hover{
    border-radius: 1px;
    border: 1px solid #f0bd63;
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 40%, rgb(255, 208, 109) 40%, rgb(255, 247, 196) 100%);
}


/*形状栏*/
.shape-wrap{
    border: 1px solid #c7d2e2;
    margin-top: 5px;
}

.shape-wrap-left{
    position: relative;   /*设置滚动条的相对定位*/
    display: flex;
    flex-flow: row nowrap;
    /*width: 158px;*/
    width: 157px;
    height: 60px;
    overflow: hidden;
    /*z-index: auto;*/
}
/*js style*/
.shape-wrap-left-rel{
    overflow: hidden;
}

.shape-wrap-left-abs{
    overflow: visible;
}


.shape-wrap-left-img{
    position: relative;
    top: 0;
    left: 0;
    width: 142px;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    /*overflow: hidden;*/
    background-color: #f3f7fc;
    z-index: 1;
    /*transition:top 1s;*/
    /*-webkit-transition:top 1s; !* Safari *!*/
}

.animate{
    transition:top 1s;
    -webkit-transition:top 1s; /* Safari */
}

/*js改变样式*/
.shape-wrap-left-img-rel{
    position: relative;
}

.shape-wrap-left-img-abs{
    position: absolute;
    width: 158px;
    border-radius: 2px;
    overflow-y: scroll;
    box-shadow: 4px 4px 2px rgba(59, 59, 59, 0.5);
}

.shape-wrap-left:hover .shape-wrap-left-img{
    background-color: #f6faff;
}

#shape .shape-img-wrap{
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
}

#shape .shape-img-wrap img{
    margin: auto;
}

.shape-img-wrap:hover{
    border-radius: 1px;
    border: 1px solid #f0bd63;
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 40%, rgb(255, 208, 109) 40%, rgb(255, 247, 196) 100%);
}

/*滚动条样式*/
.scroll{
    position: absolute;
    top: 0;
    right: 0;
    /*display: flex;*/
    flex-flow: column nowrap;
    width: 15px;
    height: 60px;
    background: linear-gradient(to right, #a5adb8, #dce6f4 2px, #dce6f4 15px);;
}
.scroll-unit{
    display: flex;
    width: 15px;
    height: 20px;
    border: 1px solid transparent;
}

.shape-wrap-left:hover .scroll-unit-nohover{
    border: 1px solid rgb(186, 195, 207);
    border-radius: 1px;
    background: linear-gradient(to bottom, rgb(248, 248, 248), rgb(222, 232, 245) 50%, rgb(248, 248, 248) 100%);
}

.scroll-unit:hover{
    border-radius: 1px;
    border: 1px solid #f0bd63;
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 40%, rgb(255, 208, 109) 40%, rgb(255, 247, 196) 100%);
}

/*这里会比较巧妙*/
.scroll-arrow{
    margin: auto;
}

.arrow-up{
    border-bottom: 3px solid black;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    /*transform: translate(-50% ,0);*/
}

.arrow-down{
    border-top: 3px solid black;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    /*transform: translate(-50% ,0);*/
}
.arrow-drop{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}
.arrow-drop-arrow{
    margin: auto;
    /*height: 10px;*/
    border-top: 3px solid black;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    /*transform: translate(-50% ,0);*/
}

.arrow-drop-line{
    margin: 2px auto;
    width: 8px;
    border-bottom: 1px solid black;

}
#shape{
    width: 228px;
    min-width: 228px;
}

#shape .right-box-parts .drop {
    width: 98px;
}

/*线粗细选择*/
#line-weight .left-box-2parts{
    height: 78px;
    width: 42px;
    text-align: center;
    margin-top: 5px;
    position: relative;
    border: 1px solid transparent;
}

#line-weight .left-box-2parts:hover{
    border: 1px solid #f0bd63;
}

#line-weight .left-box-2parts:hover .drop{
    display: block;
}

.line-weight-img-wrap{
    /*height: 78px;*/
    width: 42px;
    margin-bottom: 5px;
}

.line-weight-div{
    margin-bottom: 2px;
}

#line-weight .drop{
    height: 165px;
    width: 132px;
    padding: 1px;
}

.line-1{
    width: 32px;
    border-color: #120c8c;
    border-style: solid;
    margin: 0 0 4px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.px1{
    border-bottom-width: 1px;
}

.px2{
    border-bottom-width: 2px;
}

.px3{
    border-bottom-width: 3px;
}

.px5{
    border-bottom-width: 5px;
}

.px4{
    border-bottom-width: 4px;
}

.px6{
    border-bottom-width: 7px;
}

.line-arrow-down{
    margin: 0 5px;
    border-top: 3px solid black;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    vertical-align: middle;
}

.small-line-height{
    line-height: 16px;
}

.drop-line-wrap{
    display: flex;
    width: 128px;
    height: 40px;
    border: 1px solid transparent;
}

.drop-line-wrap:hover{
    border-radius: 2px;
    border: 1px solid #f0bd63;
    background: linear-gradient(to bottom, rgba(253, 229, 203, 0.8), rgba(253, 229, 203, 0.8) 40%, rgb(255, 208, 109) 40%, rgb(255, 247, 196) 100%);
}

.drop .line-1{
    width: 124px;
    margin: auto;
    /*margin: 0 0 4px;*/
}

/*颜色选择*/
#colorbox .left-box-2parts{
    height: 78px;
    text-align: center;
    padding-top: 5px;
    position: relative;
    border: 1px solid transparent;
}

#colorbox .left-box-2parts:hover{
    border: 1px solid #f0bd63;
}

.color-1{
    width: 42px;
}

.font-color-wrap{
    width: 32px;
    height: 32px;
    border: 1px solid #a9b2bf;
    padding: 1px;
}

.font-color{
    width: 100%;
    height: 100%;
    background-color: black;
}

.background-color-wrap{
    width: 32px;
    height: 32px;
    border: 1px solid transparent;
    padding: 1px;
}

.background-color{
    width: 24px;
    height: 24px;
    border: 1px solid #a9b2bf;
    background-color: white;
}

.color-box-container{
    width: 220px;
    height: 66px;
    vertical-align: top;
    margin-top: 3px;
}

.color-box-wrap{
    border: 1px solid #a9b2bf;
    /*padding: 1px;*/
    width: 20px;
    height: 20px;
    padding: 1px;
    margin: 1px;
}

.line-highlight:hover{
    border: 1px solid #f0bd63;
}

.color-box{
    /*margin: 1px;*/
    /*border: 1px solid #a9b2bf;*/
    /*padding: 1px;*/
    width: 100%;
    height: 100%;
}

.edit-color{
    vertical-align: top;
    width: 56px;

}

.edit-color .line-weight-word-wrap{
    padding-bottom: 21px;
}

.edit-color:last-child{
    position: relative;
}

/*设置颜色选择框覆盖按钮*/
.line-weight-word-wrap input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.line-weight-word-wrap:hover .drop{
    display: block;
}

#colorbox{
    width: 364px !important;
    min-width: 364px;   /*火狐浏览器兼容*/
}

/*绘图区域*/
#draw-area{
    position: absolute;
    top: 139px;
    left: 0;
    bottom: 28px;
    width: 100%;
    background-color: #cbd5e4;
    overflow: auto;
    z-index: -2;

}

/*绘图区域canvas*/
#canvasBox{
    background-color: #ffffff;
    /*border: 1px solid #000000;*/
    box-shadow: 6px 6px 4px rgba(120, 120, 120, 0.5);
}

.virtual-wrap{
    /*position: relative;*/
    /*z-index: 8;*/
    margin: 7px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    /*width: 800px;*/
}

/*底部显示*/
#bottom-area{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 904px;
    height: 28px;
    border: 1px solid #898C99;
    background-color: #f1eded;
    zoom:1;   /*ie6, ie7清除浮动的方式*/
}

.position-info{
    float: left;
    width: 180px;
    height: 26px;
    line-height: 26px;
    border-right: 1px solid #cdc9c9;
}

.position-info img, .position-info span{
    margin-left: 8px;
    vertical-align: middle;
}

.bottom-font{
    font: normal 12px/12px Calibri, sans-serif;
}

.ratio{
    float: right;
    width: 220px;
    height: 26px;
    line-height: 26px;
    border-left: 1px solid #cdc9c9;

}

/*清除浮动*/
#bottom-area:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0;
}

/*加减圆形*/
.bottom-circle{
    margin: 0 8px;
    /*display: flex;*/
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: 1px solid #898C99;
    border-radius: 8px;
    text-align: center;
    /*margin: 0;*/
}

.minus{
    position: relative;
    width: 8px;
    height: 2px;
    margin: 6px 0;
    /*border: 7px solid #5b5c67;*/
    vertical-align: top;
    background-color: #5b5c67;
}

.plus{
    width: 2px;
    height: 8px;
    margin: 3px 0;
    /*border: 7px solid #5b5c67;*/
    vertical-align: top;
    background-color: #5b5c67;
    position: absolute;
    left: 3px;
    top: -6px;
}

.bottom-circle:hover{
    border: 1px solid #b0b3c3;
}

.bottom-ruler{
    position: relative;
    vertical-align: middle;
    border: 1px inset #a7abba;
    width: 84px;
    height: 3px;
    background-color: #f1eded;
    z-index: 2;
}

.bottom-ruler-label{
    position: absolute;
    top: -7px;
    left: -1px;
    width: 10px;
    height: 11px;
    border-left: 1px solid #b0b3c3;
    border-right: 1px solid #b0b3c3;
    border-top: 1px solid #b0b3c3;
    z-index: 3;
    opacity: 1;
    background-color: #f1eded;
}

.bottom-ruler-label-triangle{
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #a7abba;
    border-right: 1px solid #a7abba;
    transform: rotate(45deg);

}

.bottom-ruler-label:hover{
    border: 1px solid rgb(157, 210, 178);
    background: linear-gradient(to bottom, rgba(191, 255, 217, 0.34), rgba(191, 255, 217, 0.8) 40%, rgb(191, 255, 217) 40%, rgb(191, 255, 217) 100%);
}

.bottom-ruler-label:hover .bottom-ruler-label-triangle{
    border-right: 1px solid rgb(157, 210, 178);
    border-bottom: 1px solid rgb(157, 210, 178);
    background: rgb(191, 255, 217);
}

.ratio span{
    margin-left: 10px;
}

@media  only screen and (max-width: 1065px){
    #shape{
        width: 208px;
        min-width: 208px;
    }
    .shape-wrap-left{
        width: 138px;
    }
    .shape-wrap-left-img{
        width: 123px;
        height: 80px;
    }
    .shape-wrap-left-img-abs{
        width: 158px;
        height: 80px;
    }
}

@media  only screen and (max-width: 1045px){
    #shape{
        width: 188px;
        min-width: 188px;
    }
    .shape-wrap-left{
        width: 118px;
    }
    .shape-wrap-left-img{
        width: 103px;
        height: 100px;
    }
    .shape-wrap-left-img-abs{
        width: 158px;
        height: 80px;
    }
}

@media  only screen and (max-width: 1025px){
    #shape{
        width: 168px;
        min-width: 168px;
    }
    .shape-wrap-left{
        width: 98px;
    }
    .shape-wrap-left-img{
        width: 83px;
        height: 120px;
    }
    .shape-wrap-left-img-abs{
        width: 158px;
        height: 80px;
    }
}

@media  only screen and (max-width: 1008px){
    #cutBox{
        width: 66px;
        min-width: 66px;
    }

    #cutBox .right-box-parts-list span{
        display: none;
    }
}

/*图像 调整*/
@media  only screen and (max-width: 974px){
    #imgBox{
        width: 74px;
        min-width: 74px;
    }

    #imgBox .right-box-parts-list .display{
        display: none;
    }

    .rotate {
        padding-right: 10px;
    }

    .rotate:after{
        position: absolute;
        top: 50%;
        left: 24px;
    }
}

/*控制小方框样式*/
.canvas-wrap{
    position: relative;
    z-index: 1;
}

/*包裹元素*/
[class*="ctrl-wrap"]
{
    position: absolute;
}

[class*="ctrl-content"]
{
    width: 5px;
    height: 5px;
    border: 1px solid #282828;
    background-color: rgba(255, 255, 255, 0.51);
    z-index: -1;
}

.ctrl-content-right{
    margin: 10px 20px 10px 0;
}

.ctrl-content-corner{
    margin: 0 20px 20px 0;
}

.ctrl-content-bottom{
    margin: 0 10px 20px 10px;
}

.ctrl-wrap-bottom{
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: n-resize;
}

.ctrl-wrap-right{
    top: 50%;
    left: 100%;
    transform: translate(0 ,-50%);
    cursor: e-resize;
}

.ctrl-wrap-corner{
    top: 100%;
    left: 100%;
    cursor: nw-resize;
}

/*选择框样式*/
.selected{
    border: 1px solid #f0bd63;
    background: linear-gradient(to bottom, rgba(246, 222, 196, 0.8), rgba(226, 202, 179, 0.8) 40%, rgb(237, 194, 101) 40%, rgb(255, 247, 196) 100%);
}

/*开机时提示栏样式*/
#reminder{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #000000;
    opacity: 0.6;
    filter:alpha(opacity=60); /* IE8 及其更早版本 */
}

#reminder-info{
    position: relative;
    margin: auto;
    /*width: 40%;*/
    background-color: #ffffff;
    opacity: 1;
    filter:alpha(opacity=100); /* IE8 及其更早版本 */
    padding: 10px 65px 35px 10px;
    border-radius: 3px;
}

#reminder-info p{
    font-family: '华文宋体','宋体', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
}

#reminder-info button{
    font-family: '华文宋体','宋体', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/*放大镜选择框样式*/
#magnifier-wrap{
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
}

/*文本输入样式*/
#element-wrap{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    border: 1px dashed #00bfff;
    /*padding: 2px;*/
    z-index: 2;
    /*background-color: #3c3c3c;*/
}

#move-style-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: none;
}

#input-div{
    display: inline-block;
    width: 120px;
    min-height: 20px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #ffffff;
    font-size: 16px;
    font-family: "微软雅黑", sans-serif;
    /*overflow: visible;*/
    cursor: text;
    word-break: normal;
    word-wrap: break-word;
    margin: 2px;;
}
#input-div div{
    font-size: 16px;
    max-width: 100%;
}

.drag-box{
    /*position: absolute;*/
    /*box-sizing: border-box;*/
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 1px solid #242424;
    background-color: rgba(255, 255, 255, 0.51);
    z-index: -1;
}

#element-wrap [class*="ctrl-wrap"]{
    position: absolute;
    transform: translate(-50%, -50%);
}

.ctrl-wrap-top-left{
    top: 0;
    left: 0;
    cursor: nw-resize;
}
#top-left{
    /*margin: 20px 0 0 20px;*/
}

.ctrl-wrap-top-middle{
    top: 0;
    left: 50%;
    cursor: n-resize;
}
#top-middle{
    margin: 0 10px 0 10px;
}

.ctrl-wrap-top-right{
    top: 0;
    left: 100%;
    cursor: ne-resize;
}
#top-right{
    /*margin: 20px 20px 0 0;*/
}


.ctrl-wrap-right-middle{
    top: 50%;
    left: 100%;
    cursor: e-resize;
}
#right-middle{
    margin: 10px 0 10px 0;
}

.ctrl-wrap-right-bottom{
    top: 100%;
    left: 100%;
    cursor: se-resize;
}
#right-bottom{
    /*margin: 0 20px 20px 0;*/
}

.ctrl-wrap-bottom-middle{
    top: 100%;
    left: 50%;
    cursor: s-resize;
}
#bottom-middle{
    margin: 0 10px 0 10px;
}

.ctrl-wrap-left-bottom{
    top: 100%;
    left: 0;
    cursor: sw-resize;
}
#left-bottom{
    /*margin: 0 0 20px 20px;*/
}

.ctrl-wrap-left-middle{
    top: 50%;
    left: 0;
    cursor: w-resize;
}
#left-middle{
    margin: 10px 0 10px 0;
}

#element-wrap{
    cursor: move;
}

#editCanvasBox{
    position: absolute;
    margin:0;
    padding: 0;
    border: none;
    z-index: 1;
    /*background-color: #ffffff;*/
}

/*拉拽时候的虚线框效果*/
#element-decorate{
    position: absolute;
    top: 0;
    height: 0;
    border: 1px dashed #3c3c3c;
    /*z-index: 5;*/
}

/*不可使用功能*/
.unused{
    -webkit-filter: opacity(60%);
    filter: opacity(60%);
}


