*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    border: none;
    display: inline-block;
}
/*菜单栏样式*/
#menu{
    width: 100%;
    height: 104px;
    /*background-color: #dee8f5;*/
    /*border-bottom: 1px ridge #CCCCCC;   !*win7中3D外观如何实现？*!*/
    background: linear-gradient(to bottom, rgba(222, 232, 245, 0.3), rgba(222, 232, 245, 1) 20%, rgba(222, 232, 245, 1) 97%, rgb(177, 187, 203) 100%); /* 标准的语法 */;
}

/*剪切板*/
#cutBox{
    width: 102px;
    /*text-align: center;*/
    font-size: 0;
    vertical-align: top;
}
#cutBox-up-left{
    width: 44px;
    height: 82px;
    vertical-align: top;
    text-align: center;
    margin-left: 5px;
}
#cutBox-up-right{
    vertical-align: top;
    height: 77px;
    margin-top: 5px;
    background: url(images/cut-copy.gif) 0 0 no-repeat;
}
.fontType{
    font-family: '华文宋体','宋体', sans-serif;
    font-size: 14px;
    text-align: center;
}
.parse, .cut, .copy{
    display: inline-block;
    line-height: 22px;
}
.title{
    color: rgba(99, 100, 111, 0.74);

}
.img-wrap, .parse-wrap{
    /*display: flex;*/
    width: 41px;
    height: 41px;
}
#cutBox-up-left img{
    margin: 5px 7px;
    padding: 0;
    /*margin: 0;*/
}
#cutBox-down{
    width: 102px;
}
.cut, .copy{
    padding-left: 22px;
}

#cutBox-up-right .cut{
    background-position: 0 0;
}
#cutBox-up-right .copy{
    background-position: 0 -21px;
}
.parse{
    position: relative;
}
.parse:after{
    position: absolute;
    top: 110%;
    left: 50%;
    content: "";
    border-top: 3px solid black;;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: translate(-50% ,0);
}

.borderDef{
    height: 90px;
    width: 0;
    /*margin: 6px;*/
    margin-top: 6px;
    /*background-color: red;*/
    border-left: 1px inset rgba(226, 236, 249, 0.6);  /*#dee8f5*/
    /*border-right: 1px groove #dee8f5;  !*#dee8f5*!*/
}

/*hover效果*/
#cutBox-up-left:hover{
    background: linear-gradient(to bottom, rgba(255, 201, 104, 0), rgba(255, 201, 104, 0.3) 50%, rgba(255, 201, 104, 0.6) 97%, rgba(255, 201, 104,0.6) 100%);
    /*background: ;*/
    border-radius: 3px;
    border: 1px solid #f0bd63;
}